header#cennik{
	font-family: 'Roboto Condensed', sans-serif;
	height: 95vh;
	padding-top: 100px;
}
#naglowekcennik, #produktowacennik{
	padding-left: 50px;
}
hr{
	margin-left: 0;
	width: 55%;
	background-color: #000;
	border:1px solid #000;
}

div#produktowacennik #kolumn{
	border: none;
}
div#produktowacennik #kolumn .bord{
	border-bottom: 1.5px solid #b6b6b6;
	height:50px;
}
div#produktowacennik .row{
	border-bottom: 1.5px solid #b6b6b6;
	height:50px;
	margin-bottom: 15px;
}
div#produktowacennik .col-xs-2{
	border:none;
	font-size: 20px;
	padding-top: 10px;
	text-align: center;
	
}
div#produktowacennik .premium{
	line-height: 22px;
}
div#produktowacennik span{
	text-transform: uppercase;
	font-weight: 300;
	color: #b6b6b6;
}
div#produktowacennik #info{
	border:none;
	font-size: 18px;
	color: #b6b6b6;
	text-align: center;
	padding-left: 300px;
}
div#porownanie{
	border: 1px solid red;
	height: 50vh;
	padding: 20px;
}

div#porownanie h1{
	padding-top: 50px;
	padding-bottom: 50px;
}


/*
	Footer style start
*/

footer {
	position: static;
	height: 5vh;
	background-color: #fff;
}

footer .container p a,
footer .container p {
	font-size: 10px;
	color: #333;
	margin-top: 1%;
	transition: all .3s;
}

footer .container p a:hover {
	color: #b6b6b6;
}


/*
	Footer style stop
*/