/*
	Heder style start
*/
header{
	margin-top:6%;
}

.carousel-inner>.item>img{
    height: 86vh;
	margin:auto;
}
.carousel-control{
	color:#e7e7e7;
}
.carousel-control:hover{
	color:#d7d7d7;
}
.carousel-control:focus{
	color:none;
}
.carousel-control.left{
	background-image: none;
}
.carousel-control.right{
	background-image: none;
}
/*
	Heder style stop
*/

/*
	Packshot-home style start
*/
#packshot-home .container{
	height: 100vh;
}
#packshot-home h1{
	margin-left: 25%;
	font-size: 55px;
	margin-top:10%;
}
#packshot-home figure{
/*	border: 1px solid red;*/
	height: 65vh;
	width: 30%;
	background-image: url(../img/logo.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	text-align: justify;
}
.col-lg-8 article{
/*	border: 1px solid red;*/
	width: 100%;
	margin-top: 10%;
	margin-left: 5%;
	height: 55vh;
	font-weight: 700;
	padding-left: 9px;
	color:#000;
}
.col-lg-8 article span{
	color:	#5c1193;
}
.col-lg-8 article p{
	margin-top: 2%;
	font-weight: 500;
	font-size:14px;
	line-height: 30px;
}
.col-lg-8 article p span{
	font-weight: 700;
	color: #000;
}
.col-lg-8 article p a{
	color:#5c1193;
}
/*
	Packshot-home style stop
*/

/*
	Kontakt-home style start
*/
#kontakt-home{
	background-color: #7f7e7e;
	height: 95vh;
}
#kontakt-home .col-lg-4{
/*border:1px solid red;*/
	height: 65vh;
margin-top:15%;
color: #fff;
}
#kontakt-home .col-lg-4 #dane-kontaktowe{
	margin-top: 15%;
}
#kontakt-home .col-lg-4 #dane-kontaktowe .col-lg-12{
	margin-top: 5%;
}
#kontakt-home .col-lg-4 #dane-kontaktowe .col-lg-12 a{
	color:#fff;
	transition: all .3s;
}
#kontakt-home .col-lg-4 #dane-kontaktowe .col-lg-12 a:hover{
	color:#a9a9a9;
	padding: 15px;
	background-color: #fff;
	border-radius: 5px;
}
#kontakt-home .col-lg-4 #dane-kontaktowe #home-icons a{
	margin: 20px 20px;
	
}
#kontakt-home .col-lg-4 button{
	font-weight: 700;
	color:#a9a9a9;
	margin-left:40%;
	margin-top:5%;
	transition: all .3s;
}
#kontakt-home .col-lg-4 button:hover{
	color: #fff;
	background-color: #a9a9a9;
}
#kontakt-home .col-lg-4 #kontakt-home-logo{
	margin-top:10%;
	height: 30vh;
	background-image: url(../img/logo3.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}
#kontakt-home .col-lg-4 #copy-prawa{
margin-top: 5%;
}
/*
	Kontakt-home style stop
*/

/*
	Footer style start
*/
footer{
	position: static;
	height: 5vh;
	background-color:#7f7e7e;
}

footer .container p a,footer .container p{
	font-size: 10px;
	color:#333;
	margin-top:1%;
	transition: all .3s;
}
footer .container p a:hover{
	color: #a9a9a9;
}
/*
	Footer style stop
*/