/*Studio*/
section#studio{
	height: 125vh;
}
#main_area{
	padding-top: 100px;
}

.hide-bullets {
list-style:none;
margin-left: -40px;
margin-top:100px;
}

section#studioone, section#studiotwo{
	height: 75vh;
	font-family: 'Roboto Condensed', sans-serif;
}
section#studiotwo{
	height: 85vh;
}
section#studioone .container-fluid, section#studiotwo .container-fluid{
	width: 90%;
}

section#studioone .container-fluid .row, section#studiotwo .container-fluid .row{
padding-top: 80px;	
}

#studioone p {
	font-size: 16px;
	margin-top: 2%;
}

#studioone h4 {
	color: #b6b6b6;
}

#studioone figure, #studiotwo figure {
	/*	border: 1px solid red;*/
	border: none;
	height: 65vh;
	width: 30%;
	background-image: url(../img/logo.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}
#studiotwo .col-lg-8, #studiotwo .col-lg-4{
	height: 65vh;
	border: none;
}

#studiotwo figure{
	width: 60%;
	background-image: url(../img/Studio/ekran.jpg);
	
}
#studiotwo .col-lg-4 article h2{
	font-weight: 300;
}
#studiotwo .col-lg-4 article p{
	line-height: 2em;
	color:#b6b6b6;
	padding-top: 25px;
}

.col-lg-8 article {
	/*	border: 1px solid red;*/
	width: 95%;
	margin-top: 10%;
	margin-left: 5%;
	height: 55vh;
	font-weight: 700;
	padding-left: 9px;
	color: #000;
}

.col-lg-8 article p {
	margin-top: 2%;
	font-weight: 500;
	font-size: 14px;
	line-height: 30px;
	font-weight: 700;
	color: #000;
}

.col-lg-8 article a {
	color: #b6b6b6;
}

.col-lg-8 article .text-light {
	font-weight: 500;
}






/*
	Kontakt-home style start
*/

#kontakt-home {
	background-color: #b6b6b6;
	height: 90vh;
	font-family: 'Roboto Condensed', sans-serif;
}

#kontakt-home .col-lg-4 {
/*	border:1px solid red;*/
	height: 65vh;
	margin-top: 15%;
	color: #fff;
}
#kontakt-home  #dane-kontaktowe-all h2{
	margin-left: 12%;
}
#kontakt-home .col-lg-4 #dane-kontaktowe {
	margin-top: -3%;
	margin-left: 10%;
}

#kontakt-home .col-lg-4 #dane-kontaktowe .row {
	margin-top: 5%;
}

#kontakt-home .col-lg-4 #dane-kontaktowe .row a {
	color: #fff;
	transition: all .3s;
}

#kontakt-home .col-lg-4 #dane-kontaktowe .row a:hover {
	color: #a9a9a9;
	padding: 10px;
	background-color: #fff;
	border-radius: 5px;
}

#kontakt-home .col-lg-4 #dane-kontaktowe #home-icons a {
	margin: 20px 20px;
}

#kontakt-home .col-lg-4 button {
	font-weight: 700;
	color: #a9a9a9;
	margin-left: 40%;
	margin-top: 5%;
	transition: all .3s;
}

#kontakt-home .col-lg-4 button:hover {
	color: #fff;
	background-color: #a9a9a9;
}

#kontakt-home .col-lg-4 #kontakt-home-logo {
	margin-top: 5%;
	height: 30vh;
	background-image: url(../img/logo3.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

#kontakt-home .col-lg-4 #copy-prawa {
	margin-top: 5%;
}
#kontakt-home .col-lg-4 #copy-prawa p{
	margin-top: 5%;
}


/*
	Kontakt-home style stop
*/


/*
	Footer style start
*/

footer {
	position: static;
	height: 5vh;
	background-color: #b6b6b6;
}

footer .container p a,
footer .container p {
	font-size: 10px;
	color: #333;
	margin-top: 1%;
	transition: all .3s;
}

footer .container p a:hover {
	color: #fff;
}


/*
	Footer style stop
*/